@using CEC.Domain.Enums;
@model ProductCreateModel;

@{
    ViewData["Title"] = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="mt-2">Add new</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Admin">Home</a></li>
        <li class="breadcrumb-item"><a href="/Admin/Products">Products</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add new</li>
    </ol>
</nav>
<form method="post" asp-action="Add">
    <input asp-for="ThumbnailUrl" type="text" hidden />
    <div class="alert alert-secondary" role="alert">
        <div class="row">
            <div class="col-6">
            </div>
            <div class="col-6 d-flex flex-row-reverse">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8">
            <section>
                <fieldset>
                    <legend>Information</legend>
                    <div class="form-group mb-3">
                        <label asp-for="Name" class="form-label required"></label>
                        <input asp-for="Name" type="text" class="form-control" autocomplete="off" />
                        <span asp-validation-for="Name" class="form-text text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Brief" class="form-label"></label>
                        <input asp-for="Brief" type="text" class="form-control" />
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Description" class="form-label"></label><br />
                        <textarea asp-for="Description" class="form-control mh-100" id="description"></textarea>
                    </div>
                </fieldset>
            </section>
            <section>
                <fieldset>
                    <legend>Pricing</legend>
                    <div class="form-group mb-3">
                        <label class="form-label required">Price</label>
                        <input type="text" class="form-control" autocomplete="off" />
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Compare at price</label>
                        <input type="text" class="form-control" autocomplete="off" />
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Cost per item</label>
                        <input type="text" class="form-control" autocomplete="off" />
                        <span class="form-text">Customer won't see this</span>
                    </div>
                </fieldset>
            </section>
            <section>
                <fieldset>
                    <legend>Variants</legend>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            This product has options, like color or size...
                        </label>
                    </div>
                </fieldset>
            </section>
            <section>
                <fieldset>
                    <legend>SEO (Search Engine Optimization)</legend>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">@("@title")</span>
                        <input type="text" class="form-control" aria-label="title" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon2">@("@keywords")</span>
                        <input type="text" class="form-control" aria-label="keywords" aria-describedby="basic-addon2">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon3">@("@description")</span>
                        <input type="text" class="form-control" aria-label="description" aria-describedby="basic-addon3">
                    </div>
                    <div id="custom-attribute-div">
                        @*<div class="input-group mb-3">
                        <input class="input-group-text" id="basic-addon4" style="width: auto; min-width: 100px; max-width: 30%;" />
                        <input type="text" class="form-control" aria-label="description" aria-describedby="basic-addon4">
                        </div>*@
                    </div>
                    <button type="button" role="button" class="btn btn-outline-primary w-100">Add custom attribute</button>
                </fieldset>
            </section>
        </div>
        <div class="col-12 col-md-4">
            <section>
                <fieldset>
                    <legend>Product status</legend>
                    <select asp-for="Status" class="form-select" asp-items="@(Html.GetEnumSelectList<EnumProductStatus>())"></select>
                </fieldset>
            </section>
            <section>
                <fieldset>
                    <legend>Product organization</legend>
                    <div class="form-group mb-3">
                        <label class="form-label">Product category</label><br />
                        <select class="form-select">
                            <option value="1">Shirt & Top</option>
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Product type</label><br />
                        <select class="form-select">
                            <option value="1">T-Shirt </option>
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Vendor</label><br />
                        <select class="form-select">
                            <option value="1">Sample Vendor A</option>
                            <option value="1">Sample Vendor B</option>
                            <option value="1">Sample Vendor C</option>
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Collections</label><br />
                        <select class="form-select">
                            <option value="1">Winter</option>
                            <option value="1">Summer</option>
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Tags</label><br />
                        <input type="text" class="form-control" />
                    </div>
                </fieldset>
            </section>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-md-8">
        <fieldset>
            <legend>Media</legend>
            <div class="form-group mb-3">
                <label class="form-label">Thumbnail</label><br />
                @*TODO: Implement preview before upload*@
                @*src: https://homiedev.com/preview-image-js/*@
                @*src: https://khalidabuhakmeh.com/client-side-image-previews-with-javascript*@
                <form method="post" enctype="multipart/form-data" id="formImageUpload" action="/File/UploadFile">
                    <div class="form-group mb-3">
                        @*<label for="file" class="form-label">Thumbnail</label>*@
                        <div class="d-flex align-items-center gap-2">
                            <input name="file" id="file" type="file" class="form-control d-inline-block" accept="image/png, image/gif, image/jpeg" />
                            <input type="submit" value="Upload" class="btn btn-outline-primary" />

                        </div>
                    </div>
                </form>
                @*<div class="form-group mb-3 d-flex justify-content-between align-items-center gap-2">
                <button id="start-camera" type="button" class="btn btn-secondary flex-grow-1">
                From camera
                </button>

                <button id="click-photo" class="btn btn-outline-success" style="width:200px" disabled>Take picture</button>
                </div>*@
                <div class="text-center" id="product-thumbnail-el"></div>

            </div>
        </fieldset>
    </div>
</div>
@*<div id="cameraSection" hidden>
    <video id="video" style="position:fixed; top:20px; right:20px; width:300px; height:200px; z-index:10" autoplay></video>
    <canvas id="canvas" hidden></canvas>
</div>*@

@section Styles {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/lib/simple-mde/simplemde.min.js"></script>
    <script src="~/js/admin/products/add.js"></script>
}
