@using CEC.Domain.Enums;
@using CEC.Shared.Helper;
@model List<ProductDto>;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h1 class="mt-2">Products</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Admin">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Products</li>
    </ol>
</nav>

<div class="alert alert-secondary" role="alert">
    <div class="row">
        <div class="col-6">
            @*<button class="btn btn-secondary btn-lg disabled">Import</button>
            <button class="btn btn-secondary btn-lg disabled">Export</button>*@
        </div>
        <div class="col-6 d-flex flex-row-reverse">
            <a class="btn btn-primary btn-lg" role="button" asp-area="Admin" asp-controller="Products" asp-action="Add">Add new</a>
        </div>
    </div>
</div>


@*Product table*@
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-all-tab" data-bs-toggle="tab" data-bs-target="#nav-all" type="button" role="tab" aria-controls="nav-all" aria-selected="true">All</button>
        <button class="nav-link" id="nav-active-tab" data-bs-toggle="tab" data-bs-target="#nav-active" type="button" role="tab" aria-controls="nav-active" aria-selected="false">Active</button>
        <button class="nav-link" id="nav-draft-tab" data-bs-toggle="tab" data-bs-target="#nav-draft" type="button" role="tab" aria-controls="nav-draft" aria-selected="false">Draft</button>
        <button class="nav-link" id="nav-archived-tab" data-bs-toggle="tab" data-bs-target="#nav-archived" type="button" role="tab" aria-controls="nav-archived" aria-selected="false">Archived</button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
        <div class="row mt-2">
            <div class="col">
                <table class="w-100 table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">Name</th>
                            <th scope="col">Status</th>
                            <th scope="col" class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model)
                        {
                            <tr>
                                <td style="width:100px;">
                                    @if (String.IsNullOrEmpty(product.ThumbnailUrl))
                                    {
                                        <img src="~/images/no_image_placeholder.jpg" style="height:70px; width:50px;" loading="lazy" class="img-thumbnail" />

                                    }
                                    else
                                    {
                                        <img src="@product.ThumbnailUrl" style="height:70px; width:50px; object-fit:cover;" loading="lazy" class="img-thumbnail" />
                                    }
                                </td>

                                <td><a class="text-decoration-none" asp-area="Admin" asp-controller="Products" asp-action="Detail" asp-route-id="@product.Id">@product.Name</a></td>
                                <td>
                                    @switch (product.Status)
                                    {
                                        case (EnumProductStatus.Active):
                                            <span class="badge bg-success">@product.Status.GetDescription()</span>
                                            break;
                                        case (EnumProductStatus.Archived):
                                            <span class="badge bg-warning ">@product.Status.GetDescription()</span>
                                            break;
                                        default:
                                            <span class="badge bg-secondary">@product.Status.GetDescription()</span>
                                            break;
                                    }
                                </td>
                                <td style="width:150px;">
                                    <div class="w-100 d-flex justify-content-center align-items-center">
                                        <div class="btn-group " role="group" aria-label="Basic example">
                                            <a role="button" class="btn btn-outline-secondary" asp-area="Admin" asp-controller="Products" asp-action="Detail" asp-route-id="@product.Id">Detail</a>
                                            <button type="button" class="btn btn-outline-primary">Edit</button>
                                            <form method="post" asp-action="Delete">
                                                <input name="id" value="@product.Id" hidden />
                                                <button type="submit" class="btn btn-outline-danger">Remove</button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-active" role="tabpanel" aria-labelledby="nav-active-tab">
        <div class="row mt-2">
            <div class="col">
                <table class="w-100 table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">Name</th>
                            <th scope="col">Status</th>
                            <th scope="col" class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model.Where(x => x.Status == EnumProductStatus.Active))
                        {
                            <tr>
                                <td style="width:100px;">
                                    @if (String.IsNullOrEmpty(product.ThumbnailUrl))
                                    {
                                        <img src="~/images/no_image_placeholder.jpg" style="height:70px; width:50px;" loading="lazy" class="img-thumbnail" />

                                    }
                                    else
                                    {
                                        <img src="@product.ThumbnailUrl" style="height:70px; width:50px; object-fit:cover;" loading="lazy" class="img-thumbnail" />
                                    }
                                </td>

                                <td><a class="text-decoration-none" asp-area="Admin" asp-controller="Products" asp-action="Detail" asp-route-id="@product.Id">@product.Name</a></td>
                                <td>
                                    @switch (product.Status)
                                    {
                                        case (EnumProductStatus.Active):
                                            <span class="badge bg-success">@product.Status.GetDescription()</span>
                                            break;
                                        case (EnumProductStatus.Archived):
                                            <span class="badge bg-warning ">@product.Status.GetDescription()</span>
                                            break;
                                        default:
                                            <span class="badge bg-secondary">@product.Status.GetDescription()</span>
                                            break;
                                    }
                                </td>
                                <td style="width:150px;">
                                    <div class="w-100 d-flex justify-content-center align-items-center">
                                        <div class="btn-group " role="group" aria-label="Basic example">
                                            <a role="button" class="btn btn-outline-secondary" asp-area="Admin" asp-controller="Products" asp-action="Detail" asp-route-id="@product.Id">Detail</a>
                                            <button type="button" class="btn btn-outline-primary">Edit</button>
                                            <form method="post" asp-action="Delete">
                                                <input name="id" value="@product.Id" hidden />
                                                <button type="submit" class="btn btn-outline-danger">Remove</button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-draft" role="tabpanel" aria-labelledby="nav-draft-tab">
        <div class="row mt-2">
            <div class="col">
                <table class="w-100 table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">Name</th>
                            <th scope="col">Status</th>
                            <th scope="col" class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model.Where(x => x.Status == EnumProductStatus.Draft))
                        {
                            <tr>
                                <td style="width:100px;">
                                    @if (String.IsNullOrEmpty(product.ThumbnailUrl))
                                    {
                                        <img src="~/images/no_image_placeholder.jpg" style="height:70px; width:50px;" loading="lazy" class="img-thumbnail" />

                                    }
                                    else
                                    {
                                        <img src="@product.ThumbnailUrl" style="height:70px; width:50px; object-fit:cover;" loading="lazy" class="img-thumbnail" />
                                    }
                                </td>

                                <td><a class="text-decoration-none" asp-area="Admin" asp-controller="Products" asp-action="Detail" asp-route-id="@product.Id">@product.Name</a></td>
                                <td>
                                    @switch (product.Status)
                                    {
                                        case (EnumProductStatus.Active):
                                            <span class="badge bg-success">@product.Status.GetDescription()</span>
                                            break;
                                        case (EnumProductStatus.Archived):
                                            <span class="badge bg-warning ">@product.Status.GetDescription()</span>
                                            break;
                                        default:
                                            <span class="badge bg-secondary">@product.Status.GetDescription()</span>
                                            break;
                                    }
                                </td>
                                <td style="width:150px;">
                                    <div class="w-100 d-flex justify-content-center align-items-center">
                                        <div class="btn-group " role="group" aria-label="Basic example">
                                            <a role="button" class="btn btn-outline-secondary" asp-area="Admin" asp-controller="Products" asp-action="Detail" asp-route-id="@product.Id">Detail</a>
                                            <button type="button" class="btn btn-outline-primary">Edit</button>
                                            <form method="post" asp-action="Delete">
                                                <input name="id" value="@product.Id" hidden />
                                                <button type="submit" class="btn btn-outline-danger">Remove</button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-archived" role="tabpanel" aria-labelledby="nav-archived-tab">
        <div class="row mt-2">
            <div class="col">
                <table class="w-100 table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">Name</th>
                            <th scope="col">Status</th>
                            <th scope="col" class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model.Where(x => x.Status == EnumProductStatus.Archived))
                        {
                            <tr>
                                <td style="width:100px;">
                                    @if (String.IsNullOrEmpty(product.ThumbnailUrl))
                                    {
                                        <img src="~/images/no_image_placeholder.jpg" style="height:70px; width:50px;" loading="lazy" class="img-thumbnail" />

                                    }
                                    else
                                    {
                                        <img src="@product.ThumbnailUrl" style="height:70px; width:50px; object-fit:cover;" loading="lazy" class="img-thumbnail" />
                                    }
                                </td>

                                <td><a class="text-decoration-none" asp-area="Admin" asp-controller="Products" asp-action="Detail" asp-route-id="@product.Id">@product.Name</a></td>
                                <td>
                                    @switch (product.Status)
                                    {
                                        case (EnumProductStatus.Active):
                                            <span class="badge bg-success">@product.Status.GetDescription()</span>
                                            break;
                                        case (EnumProductStatus.Archived):
                                            <span class="badge bg-warning ">@product.Status.GetDescription()</span>
                                            break;
                                        default:
                                            <span class="badge bg-secondary">@product.Status.GetDescription()</span>
                                            break;
                                    }
                                </td>
                                <td style="width:150px;">
                                    <div class="w-100 d-flex justify-content-center align-items-center">
                                        <div class="btn-group " role="group" aria-label="Basic example">
                                            <a role="button" class="btn btn-outline-secondary" asp-area="Admin" asp-controller="Products" asp-action="Detail" asp-route-id="@product.Id">Detail</a>
                                            <button type="button" class="btn btn-outline-primary">Edit</button>
                                            <form method="post" asp-action="Delete">
                                                <input name="id" value="@product.Id" hidden />
                                                <button type="submit" class="btn btn-outline-danger">Remove</button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

